// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";
// Variables

$toggle-switch: #e9ecef;
$toggle-switch-dark: #19328a;

$background-color: #fefae0;
$background-color-dark: #1B2733;

$font-color: #1B2733;
$font-color-dark: #fefae0;

$links: #1B2733;
$links-dark: #fefae0;

$card-background-dark: #27323E;
$card-background: #faedcd;

$footer-dark: #001a2c;


// Colors
$body-color: #0E0000;
$primary:    #167FFB;
$success:    #1EDD88;
$info:       #FFC65A;
$danger:     #FD1015;
$warning:    #E67E22;

// Buttons & inputs' radius
$border-radius:    2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;

// Colours:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$background: #FCF4EE;
$background-complimentary-light: #FAD7C6;
$background-complimentary-dark: #F3E8E2;
$misty-rose: #FFECEB;

$brown-dark: #391B05;
$brown-middle: #A84D10;
$brown-light: #F9C9B3;

$red-middle: #660700;
$red-very-light: #FFECEB;

$bright-coral: #FF4B3E;
$bright-yellow: yellow;
$dark-green: #4d908e;