<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Goormey, <%= @user.first_name %></h1>
    <p>
      Welcome to Goormey and welcome to a wonderful community of like-minded foodies!
    </p>

    <p>
      Goormey is all about sharing in the joy of home cooking. Whether you're posting your favourite scrambled egg or a sophisticated cheese cake, everyone is interested in hearing about your special dish. Why don't you just jump right in <%= link_to "here", new_recipe_url %>?
    </p>
    <p>
      If you have any questions or need guidance, feel free to just reach out by responding to this email or user our contact button on the homepage.
    </p>
    <p>Thanks for joining and happy cooking!</p>
  </body>
</html>

