@use "../config/config.sass.scss" as *;

.hidden {
  display: none;
}

// Specific CSS for your home-page
.background-main {
  position: relative;
}

a {
  text-decoration: none !important;
  color: black !important;
  font-family: $body-font;
  
}

a:hover {
  text-decoration: none;
  color: black;
}

.dark-mode {
  background-color: $background-color-dark !important;
  color: $font-color-dark !important;
  
  a {
    color: $links-dark !important;
  }
}

.dark-mode a {
  columns: red !important;
}

button {
  font-family: $body-font !important;
}

body {
  background-color: $background !important;
}

h1 {
  color: $red-middle;
  font-family: $headers-font;
}

h2 {
  color: $red-middle;
  font-family: $headers-font;
}

h3 {
  color: $red-middle;
  font-family: $headers-font;
}

h4 {
  color: $red-middle;
  font-family: $headers-font;
  font-weight: bold !important;
}

p {
  color: $red-middle;
  font-family: $body-font;
}

label {
  color: $red-middle;
  font-family: $headers-font;
  font-weight: bold;

}

input[type="text"], textarea {
  background-color: $brown-light; 
}


.hidden {
  display: none;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .background-main {
    padding: 12px 12px 64px 12px; 
  }
  textarea {
    margin-bottom: 3px;
    margin-top: 2px;
  }
  
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .background-main {
    padding: 12px 24px 64px 24px; 
  }
  
  
    textarea {
      min-width: 350px;
    }
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .background-main {
    padding: 12px 36px 64px 36px 0; 
  }

  textarea {
    min-width: 430px;
  }
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .background-main {
    padding: 24px 150px 64px 150px; 
  }
  
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .background-main {
    padding: 24px 200px 64px 200px; 
  }
  
}

