<div class="search-form-control form-group">
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: 'Search recipe name or description',
    type: "text",
    data: {
      refresh_list_target: 'searchInput',
      action: "keyup->refresh-list#update"
    } %>
</div>