<p>Hi there,</p>

<p>Thanks for getting in touch!</p>

<p>I will get back to you shortly. In the meantime, if something else comes to your mind, don't hesitate to reply to this email...</p>

<p>Thanks for your interest in Goormey!</p>

<p>Stephen</p>