@use "../config/config.sass.scss" as *;

.flash {
  padding: 16px 24px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  background: white !important;
  box-shadow: 0 0 8px rgba(0,0,0,0.2) !important;
  border-radius: 25px !important;
  margin: 8px !important;
}

.flash-success {
  border: 2px solid #1EDD88 !important;
}

.flash-warning {
  border: 2px solid #FFC65A !important;
}

.flash-danger {
  border: 2px solid #FD1015 !important;
}
