@use "../config/config.sass.scss" as *;

.navbar-lewagon {
  justify-content: space-between;
  background: $background-complimentary-light;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-menu {
  border-radius: 25px !important;
  background-color: $background-complimentary-light !important;
  border: solid 1px $red-middle !important;
  box-shadow: 2px 1px 1px $background-complimentary-dark !important;
}

.dropdown-menu a {
  color: $red-middle !important;
}

.dropdown-item:hover {
  background-color: $background !important;
  border-radius: 25px !important;
  color: $red-middle !important;
}
